/* -------------------- colour pallette -------------------- */
:root {
    --color1: #00296B;
    --color2: #003F88;
    --color3: #00509D;
    --color4: #FDC500;
    --color5: #FFD500;
}

/* -------------------- common styles -------------------- */
h1, h5.connect {
    text-align: center;
}

/* -------------------- navbar -------------------- */
.navbar {
    background-color: var(--color1);
}

.nav-item {
    transition: 0.3s ease;
    border-radius: 3px;
    padding: 5px;
}

.nav-item:hover{
    background-color: var(--color4);
}
/* -------------------- navbar end -------------------- */

/* -------------------- carousel -------------------- */
#carousel {
    margin-top: 56px;
}
/* -------------------- carousel end -------------------- */

/* -------------------- welcome -------------------- */
.welcome .row p {
    font-size: large;
}

.welcome div img {
    height: 100%;
}
/* -------------------- welcome end -------------------- */

/* -------------------- products -------------------- */
main {
    background-color: var(--color2);
    background-image: url("https://kauswade.github.io/TTHPL/images/patternBackground.jpg");
    /* background-image: url("https://cdn2.vectorstock.com/i/thumb-large/20/71/halftone-seamless-pattern-vector-8492071.jpg"); */
}

.products {
    position: relative;
}

.products h1 {
    color: white;
}

.products .row .col .card {
    min-height: 350px;
}

.viewLink {
    transition: 0.5s ease;
    display: none;
    opacity: 0;
    background-color: var(--color4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.product:hover .viewLink{
    opacity: 0.9;
}

.viewLink p {
    font-size: xx-large;
    color: white;
}
/* -------------------- products end -------------------- */

/* -------------------- footer -------------------- */
footer {
    background-color: #FFFCE8;
    display: block;
    color: #000000;
}

footer .container .row .col .card .card-body a {
    text-decoration: none;
    transition: 0.3s ease;
    color: black;
}

footer .container .row .col .card .card-body a:hover {
    padding-left: 5px;
}

.social li a {
    padding: 0 10px;
    font-size: large;
    transition: 0.3s ease;
    color: black;
}

.social li a:hover {
    color: var(--color4);
}
/* -------------------- footer end -------------------- */

/* -------------------- media queries -------------------- */
@media screen and (min-width: 1025px) {
    .welcome .introduction {
        max-width: 50%;
    }
}

@media screen and (max-width: 576px) {
    .navbar-brand span {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .welcome, main {
        padding-left: 200px !important;
        padding-right: 200px !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1401px) {
    .introduction {
        margin-top: 0 !important;
    }
}
/* -------------------- media queries end -------------------- */